* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #001427;

  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
  flex: 1;
  align-items: flex-start;
  margin: 12px;
  border: 2px solid white;
  border-radius: 6px;
  padding: 16px;
}

/* main table {
  width: 100%;
  color: #FFF;
  text-align: left;
  border-collapse: collapse;
}
main table thead {
  height: 36px;
}
table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
main table tbody {
  display: block;
  height: 460px;
  max-height: 460px;
  overflow-y: scroll;
} */
tbody tr:nth-child(even) {
}
tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}